<app-schedule-render [responseData]="responseData"></app-schedule-render>
<hr>
<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <div class="form-floating">
            <textarea class="form-control" id="comment" style="height: 100px"></textarea>
            <label for="comment">Comentario</label>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" (click)="guardarEnBase()"><strong>Guardar
                    Horario</strong></button>
        </div>
    </div>
</div>
<div class="row">
    <br><br>
</div>
